
/* page background color */
body{
    background-color: black;
    font-family: 'Asap', sans-serif;
}

/* Navbar */
nav.navbar{
    background-color: rgba(0, 0, 0, 0.4);
}

 /* Navbar toggler */
.navbar-toggler{
     border-radius: 50%;
     width: 50px;
     height: 50px;
     background-color: rgb(97, 192, 255);
     box-shadow: none !important;
 }

.navbar-toggler:hover{
    box-shadow: 1px 2px 35px rgba(25, 139, 174, 1) !important;
 }
/* inner navbar toggler */
.custom-toggler .navbar-toggler-icon{
     width: 23px;
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }



/* dark and light mode */
.light-background{
    background-color: white;
}

.dark-background{
    background-color: rgb(57, 57, 57);
}

.light-border{
    border: 1px solid rgb(57, 57, 57);
    background-color: transparent;
}

.dark-text{
    color: rgb(57, 57, 57) !important;
}
.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
  }
  .theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #2a2c2d;
    --color-accent: #12cdea;
    --font-color: #ffffff;
  }

  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    left: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(97, 192, 255);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

a.navbar-brand{
    color: rgb(97, 192, 255);
}

h5.offcanvas-title{
    font-size: 20px;
}

.main-offcanvas.offcanvas-header{
    background-color: rgb(97, 192, 255);
}

/* Offcanvas styles */
div.offcanvas{
    background-color: black;
}

/* nav items */
.nav-item,
a.nav-link.accordion-button{
    background-color: rgb(97, 192, 255);
}

a.nav-link.accordion-button:focus{
    outline: none !important;
    box-shadow: none !important;
}

.nav-link:hover,
.accordion-button.collapsed{
    color: black;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
    color: black;
}

svg.bi-file-earmark-person,
svg.bi-code-slash,
svg.bi-person-lines-fill{
    width: 20px;
    height: 20px;
    fill: rgba(0, 0, 0, 0.9);
}

a.nav-link {
    padding: 0;
    color: black;
    font-size: 20px;
}

/* accordion body */
div.accordion-body{
    color: rgb(172, 222, 255);
}

/* hero section */
div.hero{
    background-image: url("dark-mode.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    /* height: 40vh; */
    filter: hue-rotate(10deg);
}

img.profile{
    border-radius: 50%;
    width: 200px;
    height: 190px;
    border: 5px solid rgba(97, 192, 255, .3);
    /* filter:saturate(200%); */
}

/* front end developer title */

h1.title{
    color: rgb(97, 192, 255);
    border-color: rgba(97, 192, 255, .7) !important;
}

/* =============
SOCIAL MEDIA ICONS
=================*/
.button{
    height: 35px;
    width: 35px;
    background-color: rgb(97, 192, 255);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    float: left;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgb(97, 192, 255);
}

.button .span{
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.button:hover{
    width: 150px;
}

.button:nth-child(1):hover .icon{
    background: #E1306C;
}

.button:nth-child(2):hover .icon{
    background: #0e76a8;
}

.button:nth-child(3):hover .icon{
    background: #1da1f2 ;
}

.button:nth-child(4):hover .icon{
    background: #000;
}

.button .icon{
    display: inline-block;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.button .icon i {
    font-size: 25px;
    line-height: 32px;
    transition: all 0.3s ease-in-out;
}

.button:hover i {
    color: #fff;
}

/* =============
PROJECTS SECTION STYLES
=================*/

div.card{
    background-color: #000;
    color: white;
}

/* Extra Small devices (landscape phones, 576px and up) */
@media (min-width: 230px) {
    /* dark and light mode toggle */
    .switch {
        left: 0px;
      }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 350px) {
    /* dark and light mode toggle */
    .switch {
        left: 10px;
      }
}

@media (min-width: 411px) {
    /* dark and light mode toggle */
    .switch {
        left: 48px;
      }
}

@media (min-width: 450px) {
    /* dark and light mode toggle */
    .switch {
        left: 60px;
      }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 540px) {
    /* dark and light mode toggle */
    .switch {
        left: 110px;
      }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* dark and light mode toggle */
    .switch {
        left: 110px;
      }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* dark and light mode toggle */
    .switch {
        left: 210px;
      }
 }

 @media (min-width: 800px) {
    /* dark and light mode toggle */
    .switch {
        left: 240px;
      }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* dark and light mode toggle */
    .switch {
        left: 340px;
      }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* dark and light mode toggle */
    .switch {
        left: 440px;
      }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* dark and light mode toggle */
    .switch {
        left: 540px;
      }
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1800px) {
    /* dark and light mode toggle */
    .switch {
        left: 740px;
      }
 }

  /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 2400px) {
    /* dark and light mode toggle */
    .switch {
        left: 1100px;
      }
 }

